{% load static %}

<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'home/bootstrap.min.css' %}">
        <title>{{ Title }}</title>
        
        
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'home/img/favic/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/img/favic/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'home/img/favic/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'home/img/favic/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'home/img/favic/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        
        
        {% comment %} <link rel="icon" type="image/x-icon" href="{% static 'home/img/favicon2.ico' %}"> {% endcomment %}
    </head>
    <div class="onloadHome" id="onloadHome">
        <div class="onloadText">
            <span class="logo">
                <span>Blue&amp;</span><span>Yellow</span>
            </span>
        </div>
        <div class="onloadTNexsInner">
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner ">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>
            <div class="onloadLineInner onloadLineInner2">
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
                <div class="OnloadHex"></div>
            </div>

        </div>
    </div>
    <body>
        <header>
            <div class="container">
                <a href="{% url 'home' %}">
                    <span class="logo">
                        <span>Blue&</span><span>Yellow</span>
                    </span>
                </a>
                <div class="nav">
                    <a href="{% url 'home' %}" class="nav__link">Домашня сторінка</a>
                    <a href="{% url "orders" %}" class="nav__link">Товари</a>
                    <a href="{% url 'OrderOfGoods' %}" id="nav__menusm__zakaz1" class="nav__btn"><img style="width: 35px; height: 35px;" src="{% static "home/img/WhyWe/blue/kos2.png" %}"></a>
                </div>

                {% comment %} <a href="#" class="nav__btn" id="nav__menu__zakaz"><img src="{% static "home/img/WhyWe/kos2.png" %}"></a> {% endcomment %}
                <div class="navSm__inner">
                    <button class='NavSmMenu'>Menu</button>
                    <div class="navSm">
                        <p><a href="{% url 'home' %}"  class="navsm__link nav__link">Домашня сторінка</a></p>
                        <p class="text-left"><a href="{% url "orders" %}" class="navsm__link nav__link">Товари</a></p>
                        <p><a href="{% url 'OrderOfGoods' %}" class="nav__btn" id="nav__menusm__zakaz"><img src="{% static "home/img/WhyWe/kos.png" %}"></a></p>

                    </div>
                </div>
            </div>
        </header>
        <main>
            {% block main  %}{% endblock main  %}
        </main>

        <div>
            <footer class="row justify-content-around">
                <div class='col-3 WhiteCol'>
                    <div class="row YellowCol">Контакти:</div>
                    <a href="tel:+380931069589" id="phoneFooter" class="WhiteCol row">+380931069589</a>
                    <a href="mailto:blueyellow.corp@gmail.com" class="emailCont WhiteCol row">blueyellow.<br class=" WhiteCol d-block d-lg-none">corp@gmail.com</a>
                </div>
                <div class='col-3'>
                    <div class="row YellowCol">Про нас:</div>
                    <div class="row">Ми виробники корпоративних товарів із тканини та шкіри.</div>
                </div>
                <div class='col-3'>
                    <div class="row YellowCol">Соціальні мережі:</div>
                    <div class="row"></div>
                    <div class="row">
                        <a class="footer__SocNet" href="https://www.instagram.com/blueyellow.corp/"><img src={% static 'home/img/SocNet/instagram.png' %}></a>
                        <a class="footer__SocNet" href="https://www.facebook.com/blueyellow.corp/"><img src={% static 'home/img/SocNet/facebook.png' %}></a>
                        <a class="footer__SocNet" href="https://t.me/blueyellow_corp"><img src={% static 'home/img/SocNet/telegram.png' %}></a>
                    </div>
                </div>
            </footer>
        </div>
        <div class="footer__under">{% if user.is_authenticated%}<span class="logoutAdmin pl-2"><a href="{% url 'exit' %}">Вийти</a></span>{% endif %}<span class="WhiteCol"> © 2022 Copyright Blue</span><span class="YellowCol">&Yellow</span>{% if not user.is_authenticated%}<span class="loginAdmin pr-2"><a href="{% url 'login' %}">Увійти як адмін</a></span>{% endif %}</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'home/js/copytel.js' %}"></script>
        <script src="{% static 'home/js/order.js' %}"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>